<form [formGroup]="parameterForm">
    <select style="margin-left: 10px; margin-bottom: 10px;" class="ag-theme-balham"  (change)="onDataSourceChange($event.target.value)">
        <option *ngFor="let item of datasources" value={{item.datasource}}>{{item.datasource}}</option>
    </select>
    
    <select style="margin-left: 10px; margin-bottom: 10px; width: 180px" class="ag-theme-balham" formControlName="filterControl" (change)="onFilterChange($event.target.value)">
        <option *ngFor="let item of filters" value={{item.filter}}>{{item.filter}}</option>
    </select>
    
    <select style="margin-left: 10px; margin-bottom: 10px; width: 180px" class="ag-theme-balham" formControlName="variable1Control" (change)="onVariable1Change($event.target.value)">
        <option *ngFor="let item of variables" value={{item.variable}}>{{item.variable}}</option>
    </select>

    <select style="margin-left: 10px; margin-bottom: 10px; width: 180px" class="ag-theme-balham" formControlName="variable2Control" (change)="onVariable2Change($event.target.value)">
        <option *ngFor="let item of variables" value={{item.variable}}>{{item.variable}}</option>
    </select>

    <div style="margin-left: 10px; margin-bottom: 10px;display: block;">
        <label class="ag-theme-balham">Supress Nulls ?
            <input (change)="onNullableChange($event)" value="isNullable" type="checkbox"/>
        </label>
        <label style="margin-left: 10px;" class="ag-theme-balham">No Zeros ?
            <input (change)="onNoZeroChange($event)" value="zeros" type="checkbox"/>
        </label>
    </div>
</form>

<ag-grid-angular 
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [enableRangeSelection]="true"
    [enableCharts]="true"
    [allowContextMenuWithControlKey]="true"
    [columnDefs]="columnDefs"
    [statusBar]="statusBar"
    [rowSelection]="rowSelection"
    [animateRows]="true"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    (rowDataChanged)="onRowDataChanged($event)">
</ag-grid-angular>